@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<section class="homesection">
    <div class="image1">
        <img src="https://preview.uideck.com/items/saaspal/assets/img/hero/hero-img.png" alt="">
    </div>
    <div class="text">
        <h1>Launch Your SaaS<br>Website in Minutes!</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed<br> diam nonumy eirmod tempor invidunt ut labore et dolore<br> magna aliquyam erat, sed diam voluptua.</p>
        <div class="btn"></div>
        <a style="text-decoration: none;border: 2px solid white;border-radius: 10px;color: white;font-size:28px">Get Started</a>
        <!-- <a href="#features"><i class="bi bi-arrow-down-circle"></i></a> -->
    </div>
</section>
<section class="section2">
    <div class="card-group container">
        <div class="card">
            <i style="color: rgb(55, 55, 197);text-align: center;" class="bi bi-bootstrap-fill col fs-1 "></i>
            <div class="card-body ">
                <h5 class="card-title">Bootstrap 5</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <i style="color: rgb(55, 55, 197);text-align: center;" class="bi bi-bootstrap-fill fs-1"></i>
            <div class="card-body">
                <h5 class="card-title">Clean Design</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

            </div>
        </div>
        <div class="card">
            <i style="color: rgb(55, 55, 197);text-align: center;" class="bi bi-bootstrap-fill fs-1"></i>
            <div class="card-body">
                <h5 class="card-title">Easy to Use</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
</section>
<section class="section3">
    <div class="image2">
        <img src="https://preview.uideck.com/items/saaspal/assets/img/hero/hero-img.png" alt="">
    </div>
    <div class="text1">
        <h1>Perfect Solution Thriving Online Business</h1>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy<br> eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam<br> voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet<br> clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet.</p>
        <div class="btn1"></div>
        <a style="color: blue;border: 2px solid blue;border-radius: 20px;font-size: 38px;">Discover me</a>
    </div>
</section>
<section class="section4">
    <div class="text2">
        <h1>Perfect Solution Thriving Online Business</h1>
        <p style="color: darkgray;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy<br> eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam<br> voluptua.</p>
        <ul>
            <li style="color: blue;">Quick Access</li>
            <li style="color: blue;">Quick Access</li>
            <li style="color: blue;">Quick Access</li>
        </ul>
    </div>
    <div class="image3">
        <img src="https://preview.uideck.com/items/saaspal/assets/img/hero/hero-img.png" alt="">
    </div>
</section>
<section class="section5">
    <div class="text3">
        <h2>Why Choose SaaSpal</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed<br>diam nonumy eirmod tempor invidunt ut labore et dolored</p>
    </div>
    <div class="card-group w-50 gap-7">
        <div class="card">
            <i class="bi bi-bag-dash-fill fs-1"></i>
            <div class="card-body">
                <h5 class="card-title">SaaS Focused</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <i class="bi bi-bluetooth fs-1"></i>
            <div class="card-body">
                <h5 class="card-title">Awesome Design</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <i class="bi bi-bounding-box fs-1"></i>
            <div class="card-body">
                <h5 class="card-title">Ready to Use</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="card-group w-50 gap-5">
        <div class="card">
            <i class="bi bi-boxes fs-1"></i>
            <div class="card-body">
                <h5 class="card-title">Vanilla JS</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <i class="bi bi-camera-reels-fill fs-1"></i>
            <div class="card-body">
                <h5 class="card-title">Essential Sections</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <i class="bi bi-check-circle-fill fs-1"></i>
            <div class="card-body">
                <h5 class="card-title">Highly Optimized</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            @foreach (var item in Model.Sliders)
            {
                <div class="carousel-item active">
                    <img src="@item.Image" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@item.Name</h5>
                        <p>@item.Description</p>
                    </div>
                </div>
            }      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
        </div>
</section>